* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*:focus {
  outline: none;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.h-stack {
  display: flex;
  flex-direction: row;
}

.v-stack {
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.flex-2 {
  flex: 2;
  min-height: 0;
  min-width: 0;
}

.flex-3 {
  flex: 3;
  min-height: 0;
  min-width: 0;
}

.flex-4 {
  flex: 4;
  min-height: 0;
  min-width: 0;
}

.flex-5 {
  flex: 4;
  min-height: 0;
  min-width: 0;
}

.gap-small {
  gap: 0.4em;
}

.gap-big {
  gap: 2em;
}

.mh {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.mv {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.ph {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.pv {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.radius-small {
  border-radius: 0.4rem;
}

.elevated {
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.2);
}


.baseline {
  display: flex;
  align-items: center;
}



#logo {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.code-editor {
  font-family: monospace;
  font-size: 14px;
  height: 100%;
  width: 100%;
  padding: 0.4rem;
  counter-reset: line;
  overflow-x: auto;
  text-wrap: nowrap;
  white-space: pre;
}

.keyword {
  color: blue;
}

.func {
  color: blue;
}

.identifier {

}

.instruction {
  color: rgb(65, 0, 65);
  font-weight: bold;
}

.number {
  color: darkolivegreen;
}

.error {
  border-bottom: 2px dotted red;
  background-color: rgba(255, 0, 0, 0.05);
}

#editor {
  background-color: #efefef;
}

#canvas {
  background-color: #fff;
  width: 100%;
  height: 100%;
}
