@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overscroll-behavior: none;
}

*:focus {
  outline: none;
}

.full-height {
  height: 100%;
}

.h-stack {
  display: flex;
  flex-direction: row;
}

.v-stack {
  display: flex;
  flex-direction: column;
}

.trtl-logo {
  font-family: 'Nova Mono';
  font-size: 2.4rem;
  font-weight: bold;
  padding: 0 0.1rem;
}

.flex-1 {
  flex: 1;
  min-height: 0;
  min-width: 0;
}

.flex-2 {
  flex: 2;
  min-height: 0;
  min-width: 0;
}

.flex-3 {
  flex: 3;
  min-height: 0;
  min-width: 0;
}

.flex-4 {
  flex: 4;
  min-height: 0;
  min-width: 0;
}

.gap-small {
  gap: 0.4rem;
}

div.code-editor {
  height: 100%;
  width: 100%;

  * {
    overscroll-behavior: none;
  }

  textarea.input, div.mirror, div.gutter {
    font-family: monospace;
    font-size: 1.0rem;
    line-height: 1.15rem;
    text-wrap: nowrap;
    white-space: pre;
  }

  div.gutter {
    padding: 0 1rem;
    min-width: 3.0rem;
    color: #444;
    text-align: right; 
    overflow: hidden;
    font-size: 0.9rem;
    line-height: 1.15rem;
  }

  div.content {
    position: relative;

    textarea.input, div.mirror {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0;
      margin: 0;
      border: none;
    }

    div.mirror {
      z-index: 1;
      overflow: hidden;
    }

    textarea.input {
      z-index: 2;
      resize: none;

      color: transparent;
      caret-color: black;
      background-color: transparent;
    }
  }
}

.keyword {
  color: blue;
}

.func {
  color: blue;
}

.identifier {

}

.instruction {
  color: rgb(65, 0, 65);
  font-weight: bold;
}

.number {
  color: darkolivegreen;
}

.insert {
  border-bottom: 1px dotted blue;
}

.lint {
  border-bottom: 2px dotted red;
  background-color: rgba(255, 0, 0, 0.05);
}

div#canvas {
  overflow: hidden;
}

div#canvas canvas {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
